.wrap{
    background-color:  #fff8c7;
    padding-bottom: 5%;
    padding-top: 5%;
}
.aboutme-container{
    background-color: white;
    
}
.aboutme-text-title{
    font-family: 'Lobster', cursive;
    color: #ffdf00;
    text-shadow: 2px 2px grey;
}
.aboutme-content p{
    font-family: 'Patua One', cursive;
    color: #424141;
}