.banner-title{
    font-family: 'Lobster', cursive;
    color: #ffdf00;
    text-shadow: 2px 2px grey;
    font-size: 80px;
    padding-top: 3%;
    padding-bottom: 3%;
}
.nav-link {
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    text-shadow: 2px 2px grey;
}
.banner-container{
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cart-counter{
    background-color: red;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-bottom:20px;
}