.login-container{
    background-image: url('/pictures/login_back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    align-content: center;
}

.shop-icon{
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: -20%;
}

.login-card{
    height: 370px;
    width: 400px;
    min-width: 380px;
    max-width: 420px;
    max-height: 371px;
    min-height: 369px;
    background-color: rgba(0,0,0,0.5) !important;
    
    }
    
.card-header h1{
    color: white;
    font-family: 'Lobster', cursive;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFDF00;
    color: black;
    border:0 !important;
}

.input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.login-btn{
    color: black;
    background-color: #FFDF00 !important; 
    width: 100px;
}

.login-btn:hover{
    color: black;
    background-color: white;
}



.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  .main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .dashboard-container{
    background: #EDE574;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 100vh;
  }
  .table-wrapper{
    background-color: white;
    padding: 2%;
    margin-top: 2%;
  
  }
  .dashboard-title{
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px grey;
    color: #FFDF00;
  }
  .table-content{
    font-size: small;
  }